@import "tailwindcss";
@import "@heroui/styles";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --outline: #dcdcdc;
  --border: #ffffff;

  --white: #f5f5f5b3;
  --offwhite: #dddbd4cc;
  --light-gray: #78787833; /*could maybe remove this, its very similar to gray-undertone*/
  --gray-undertone: #61616159;
  --gray: #2f2e2ecc;
  --gray-dark: #2f2e2ecc;
  --black: #0f0f0f;

  --pure-white: oklch(100% 0.00011 271.152 / 0.3);
  --white: oklch(97.015% 0.00011 271.152 / 0.702);
  --white: oklch(97.015% 0.00011 271.152 / 0.6);
  --white: oklch(97.015% 0.00011 271.152 / 0.55);
  /* --offwhite: oklch(89.104% 0.00961 93.611 / 0.8); */
  /* --offwhite: oklch(89.104% 0.00961 93.611 / 0.5); */
  --offwhite: oklch(89.104% 0.00961 93.611 / 0.3);
  --light-gray: oklch(57.268% 0.00007 271.152 / 0.2);
  --light-gray: oklch(67.968% 0.00008 271.152 / 0.3);
  /*could maybe remove this, its very similar to gray-undertone */
  --gray-undertone: oklch(49.261% 0.00006 271.152 / 0.349);
  /* --gray: oklch(30.221% 0.00143 15.911 / 0.8); */
  /* --gray: oklch(30.221% 0.00143 15.911 / 0.5); */
  --gray: oklch(30.221% 0.00143 15.911 / 0.3);
  --gray-dark: oklch(30.221% 0.00143 15.911 / 0.8);
  --gray-dark: oklch(30.221% 0.00143 15.911 / 0.75);
  /* --gray-dark: oklch(30.221% 0.00143 15.911 / 0.5); */
  /* --black: oklch(16.842% 0.00002 271.152); */
  --black: oklch(30.221% 0.00143 15.911 / 0.75);
  --black-dark: oklch(0% 0 0 / 0.6);
  --gray: oklch(49.261% 0.00006 271.152 / 0.35);
  --gray-2: oklch(49.261% 0.00006 271.152 / 0.15);
  --green-base: #474e44;
  --green-light: #b6c8ad;
  --green-dark: #292d27;
  --green-dark-2: #596255;
  --green-light-2: #b6c8ad;

  --translucent-green-base: oklch(41.43% 0.01861 136.295 / 0.65);
  --translucent-green-light: oklch(81.165% 0.04197 135.181 / 0.65);
  --translucent-green-dark: oklch(29.103% 0.01206 135.148 / 0.65);
  --translucent-green-base: oklch(41.43% 0.01861 136.295 / 0.2);
  --translucent-green-dark-2: oklch(48.424% 0.0232 136.041 / 0.4);
  --translucent-green-light-2: oklch(81.165% 0.04197 135.181 / 0.4);
  /*TODO:  this needs some proper structure */

  /* --glass-white: oklch(97.015% 0.00011 271.152 / 0.702);
  --glass-offwhite: oklch(89.104% 0.00961 93.611 / 0.8);
  --glass-light-gray: oklch(57.268% 0.00007 271.152 / 0.2); */
  /*could maybe remove this, its very similar to gray-undertone*/
  /* --glass-gray-undertone: oklch(49.261% 0.00006 271.152 / 0.349);
  --glass-gray: oklch(30.221% 0.00143 15.911 / 0.8);
  --glass-gray-dark: oklch(30.221% 0.00143 15.911 / 0.8);
  --glass-black: oklch(16.842% 0.00002 271.152); */
}

@theme inline {
  --color-primary: var(--foreground);
  --color-secondary: color-mix(in oklab, var(--foreground) 80%, white 20%);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-primary: var(--foreground);
  --color-outline: var(--outline);
  --color-border: var(--border);

  /* --color-green-base: var(--green-base);
  --color-green-light: var(--green-light);
  --color-green-dark: var(--green-dark);
  --color-green-dark-2: var(--green-dark-2);
  --color-green-light-2: var(--green-light-2); */

  --color-glass-white: var(--white);
  --color-glass-pure-white: var(--pure-white);
  --color-glass-offwhite: var(--offwhite);
  --color-glass-light-gray: var(--light-gray);
  --color-glass-gray-undertone: var(--gray-undertone);
  --color-glass-gray: var(--gray);
  --color-glass-gray-2: var(--gray-2);
  --color-glass-gray-dark: var(--gray-dark);
  --color-glass-black: var(--black);
  --color-glass-black-dark: var(--black-dark);

  --color-green-base: var(--green-base);
  --color-green-light: var(--green-light);
  --color-green-dark: var(--green-dark);
  --color-green-dark-2: var(--green-dark-2);
  --color-green-light-2: var(--green-light-2);

  /* --color-green-base: var(--green-base); */
  --color-glass-green-base: color-mix(
    in oklab,
    var(--green-base) 60%,
    transparent 40%
  );
  --color-glass-green-light: color-mix(
    in oklab,
    var(--color-green-lightse) 60%,
    transparent 40%
  );
  --color-glass-green-dark: color-mix(
    in oklab,
    var(--color-green-darkase) 60%,
    transparent 40%
  );
  --color-glass-green-dark-2: color-mix(
    in oklab,
    var(--color-green-dark-2e) 60%,
    transparent 40%
  );
  --color-glass-green-light-2: color-mix(
    in oklab,
    var(--color-green-light-2) 60%,
    transparent 40%
  );
  --color-glass-green-base: var(--translucent-green-base);
  --color-glass-green-light: var(--translucent-green-light);
  --color-glass-green-dark: var(--translucent-green-dark);
  --color-glass-green-dark-2: var(--translucent-green-dark-2);
  --color-glass-green-light-2: var(--translucent-green-light-2);
}

@media (dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --outline: oklch(51.379% 0.00006 271.152 / 0.15);
    --border: oklch(87.111% 0.00555 286.025 / 0.25);

    --white: #f5f5f5b3;
    --offwhite: #dddbd4cc;
    --light-gray: #98989880;
    --gray-undertone: #61616159;
    --gray: #2f2e2ecc;
    --gray-dark: #2f2e2ecc;
    --black: #0f0f0f;
  }
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--foreground);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* remove all background-image lines */
  /* > BG alt 1 */
  /* background-image: url(@public/assets/images/background.jpg);
  background-size: cover;
  background-position: center; */

  /* > BG alt 2 */
  /* background-image: url(@public/assets/images/bg_resume.jpg);
  background-size: cover;
  background-size: auto;
  background-position: center;
  background-position: top; */

  /*> BG alt 3 */

  /* background-size: cover; */
  /* background-size: cover; */
  background-size: contain;
  /* background-size: auto; */
  /* background-position: center; */

  background-position: top;
  background-image: url(@public/assets/images/bg_upscaled.png);
  /* background-image: url(@public/assets/images/bg_resume.png); */
  background-image: url(@public/assets/images/bg_upscaled_6.png);
  background-size: cover;
  /* background-size: contain; */
  /* background-size: auto; */
  background-position: center;
  background-position: top;
}

main {
  position: relative;
  z-index: 1;
}

@layer components {
  .glass {
    @apply shadow-sm;
    @apply backdrop-blur-xl;
    @apply border-0;
    @apply border;
    @apply border-border/20;
    @apply border-t-border/40;
    @apply border-l-border/40;
    /* @apply bg-glass-gray-dark; */
    @apply bg-transparent;

    @apply backdrop-saturate-150;
    @apply outline-1;
    @apply outline-outline/20;
    @apply -outline-offset-1;
    @apply border;
  }
  /* color variants */
  .glass.glass-white {
    @apply bg-glass-white;
  }
  .glass.glass-offwhite {
    @apply bg-glass-offwhite;
  }
  .glass.glass-pure-white {
    @apply bg-glass-pure-white;
  }
  .glass.glass-gray {
    @apply bg-glass-gray;

    /* --gray-undertone: oklch(49.261% 0.00006 271.152 / 0.349);
    --gray: oklch(56.241% 0.00006 271.152 / 0.575);
    --gray: oklch(49.261% 0.00006 271.152 / 0.35);
    --gray-2: oklch(49.261% 0.00006 271.152 / 0.35); */
    @apply drop-shadow-md;
    @apply backdrop-saturate-100;

    @apply bg-glass-gray;

    /* @apply bg-glass-gray-undertone; */
    /* @apply bg-glass-light-gray1; */

    /* @apply border-glass-offwhite;
    @apply border-t-glass-offwhite;
    @apply border-l-glass-offwhite;
    @apply border-glass-white/20;
    @apply border-t-glass-white/40;
    @apply border-l-glass-white/40; */
    @apply border-glass-light-gray/20;
    @apply border-t-glass-light-gray/40;
    @apply border-l-glass-light-gray/40;
    @apply outline-glass-offwhite/40;
    @apply bg-glass-gray-dark/50;
    /* @apply outline-glass-offwhite; */

    /* @apply border-glass-light-gray/20; */
    /* @apply border-t-glass-light-gray/40; */
    /* @apply border-l-glass-light-gray/40; */
    /* @apply outline-glass-offwhite/40; */
  }
  .glass.glass-black {
    @apply bg-glass-black;
    /* @apply border-glass-gray/20;
    @apply border-t-glass-gray/40;
    @apply border-l-glass-gray/40; */

    @apply border-glass-light-gray;
    @apply border-t-glass-light-gray;
    @apply border-l-glass-light-gray;

    /* @apply outline-glass-light-gray; */
    @apply outline-glass-offwhite/40;

    /* @apply border-glass-offwhite/20;
    @apply border-t-glass-offwhite/40;
    @apply border-l-glass-offwhite/40; */
    /* @apply outline-glass-light-gray;
    @apply border-glass-gray; */
  }
  .glass.glass-green {
    @apply bg-glass-green-base;
  }

  /* placement variants */
  .glass.glass-upper {
    /* @apply backdrop-blur-none; */
    /* @apply bg-white/30; */
    /* @apply bg-glass-pure-white; */
    /* @apply backdrop-saturate-200; */
    /* @apply backdrop-blur-md;
    @apply backdrop-saturate-100;
    @apply backdrop-brightness-105; */

    /* @apply backdrop-saturate-200; */
    /* @apply backdrop-brightness-110; */

    /* @apply bg-white/20; */
    /* @apply backdrop-blur-md; */
    @apply backdrop-blur-md;
    @apply backdrop-saturate-90;
    @apply backdrop-saturate-100;
    /* @apply backdrop-saturate-110; */
    /* @apply backdrop-saturate-150; */
    /* @apply backdrop-saturate-10; */
    @apply backdrop-brightness-105;
    /* @apply bg-glass-pure-white/100; */
    @apply bg-glass-offwhite;
    /* @apply bg-glass-pure-white/80; */
    @apply backdrop-contrast-125;
    /* @apply backdrop-sepia-5; */
    /* @apply backdrop-contrast-110; */
    /* @apply backdrop-; */
  }

  .glass.borderless {
    @apply border-0;
    @apply border-transparent;
    /* @apply border-border/20;
    @apply border-t-border/40;
    @apply border-l-border/40; */
  }
}

/** SCROLLBAR RELATED CSS */
:root {
  /* background of the track */
  --scrollbar-track: transparent;
  /* the draggable part */
  --scrollbar-thumb: var(--color-glass-gray-undertone);
  /* thumb on hover */
  --scrollbar-thumb-hover: var(--color-glass-gray-undertone);
  /* bottom-right corner where scrollbars meet */
  --scrollbar-corner: var(--color-glass-gray-undertone);
}

* {
  scrollbar-width: thin; /* Firefox: auto | thin | none */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track); /* Firefox */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px; /* vertical scrollbar width */
  height: 8px; /* horizontal scrollbar height */
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 9999px; /* rounded thumb */
  border: 2px solid var(--scrollbar-track); /* gives a "floating" look */
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

*::-webkit-scrollbar-corner {
  background: var(--scrollbar-corner);
}
